
*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    font-size: 14px;
}
li{
    list-style: none;
}
img{
    border: none 0;
}
body{
    font-size: 12px;
}

/*头部开始*/
.header{
    width: 800px;
    margin: 10px auto;
    height: 80px;
    background: #3b5998;
    border: 1px solid #aaa;
}

.logo{
    float: left;
    margin-left: 10px;
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    cursor: pointer;
}
#bg{
    float: right;
    margin: 10px;
    padding: 5px;
    width: 120px;
    background: #fff;
    border: 1px solid #CCC;
}

#bg li{
    float: left;
    margin-right: 4px;
    width:15px;
    height: 15px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../images/theme.gif);
}
#bg_0 { background-position:0px 0px; background-color:#3B5998;  }
#bg_1 { background-position:15px 0px; background-color:#BB3BD9;}
#bg_2 { background-position:35px 0px; background-color:#E31559;}
#bg_3 { background-position:55px 0px; background-color:#08BECE;}
#bg_4 { background-position:75px 0px; background-color:#FBA60A;}
#bg_5 { background-position:95px 0px; background-color:#AFD400;}
#bg_0.selected { background-position:0px 15px; }
#bg_1.selected { background-position:15px 15px; }
#bg_2.selected { background-position:35px 15px; }
#bg_3.selected { background-position:55px 15px; }
#bg_4.selected { background-position:75px 15px;}
#bg_5.selected   {background-position:95px 15px; }

/*t头部导航开始*/
.nav{
    width: 800px;
    height: 34px;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px auto;
    background: #3b5998;
}
.nav ul li{
    float: left;
    margin-right:14px;
    position: relative ;
    z-index:88;
}
.nav ul li a{
    display:block;
    padding:0 8px;
    background:#EEEEEE;
    font-weight:700;

}
.nav ul li a:hover{
    background: none;
    color: #fff;
}
.nav ul li ul{
    background: #88C366;
    position: absolute;
    width: 80px;
    overflow:hidden;
    display:none;
}
.nav ul li:hover ul{
    background-color: #88C366;
    position: absolute;
    width: 100px;
    display:block;
}
.nav ul li ul li{
    border-bottom: 1px solid #BBB;
    text-align: left;
    width: 100%;
}
/*主要内容区开始*/
#main{
    border:1px solid #aaa;
    margin:10px auto;
    width:800px;
}
#main h1{
    height:26px;
    background:#3B5998;
    color:#FFF;
    line-height:26px;
    padding-left:6px;
    font-size: 14px;
}
.pro_detail {
    width:780px;
    overflow:hidden;
    padding:10px;
}
/*左边部分*/
.pro_detail_left {
    width:380px;
    float:left;
    position: relative;
}
.pro_detail_left .small_img{
    border:1px solid #BBB;
    float:left;
    position:relative;
    padding:0;
    cursor:pointer;
    height:300px ;
    width: 300px;
}
.small_img  #lay{
    position:absolute;
    left: 0;
    top:0;
    border:solid 1px #999;
    background:#fff;
    opacity: 0.6;
    filter:alpha(opacity=60);
    display: none;
}
.pro_detail_left #big_img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 310px;
    top:0px;
    border:1px solid #BBB;
    display: none;
    z-index:999;
}
.pro_detail_left .sp {
    width:300px;
    height:300px;
}
.pro_detail_left span {
    display:block;
    text-align:center;
    padding: 10px 0;
    width:300px;
    clear: both;
}
.pro_detail_left ul.imglist{
    height: 80px;
}
.pro_detail_left ul.imglist li {
    float:left;
    margin-right:10px;
}
.pro_detail_left ul.imglist li img {
    width:60px;
    height:60px;
    border: 1px solid #EEE;
    cursor:pointer;
}
.pro_detail_left ul.imglist li img:hover {
    border: 1px solid #999;
}
.pro_detail_left .tab_menu li {
    float:left;
    text-align:center;
    cursor:pointer;
    padding:6px;
    list-style:none;
    margin-right:4px;
    background:#F1F1F1;
    border:1px solid #898989;
    border-bottom:none;
    font-size: 12px;
}
.pro_detail_left .tab_menu li.hover {
    background:#DFDFDF;
}
.pro_detail_left .tab_menu li.selected {
    color:#FFF;
    background:#6D84B4;
}
.pro_detail_left .tab_box {
    clear:both;
    border:1px solid #898989;
    font-size: 12px;
}
.pro_detail_left .hide{
    display:none
}

/*右边部分*/
.pro_detail_right {
    width:380px;
    float:left;
    margin:10px;
}
.pro_detail_right .color_change, .pro_detail_right .pro_size, .pro_detail_right .pro_num  {
    width:380px;
    font-weight:bold;
    float:left;
    margin-bottom:10px;
}
.pro_detail_right .color_change ul li {
    float:left;
    margin-right:10px;
}
.pro_detail_right .color_change img {
    width:30px;
    height:30px;
    padding:1px;
    background:#EEE;
    border:1px solid #BBB;
    cursor:pointer;
}
.pro_detail_right .color_change img:hover {
    padding:1px;
    background:#999;
}
.pro_detail_right .pro_size ul li{
    float:left;
    margin-right:5px;
}
.pro_detail_right .pro_size ul li span{
    display:block;
    margin-right:5px;
    padding:1px 12px;
    border:1px solid #aaa;
    cursor:pointer;
}
.pro_detail_right .pro_size ul li span:hover {
    background:#CCC;
}
.pro_detail_right .pro_price,.pro_detail_right .pro_rate {
    width:380px;
    font-weight:bold;
    float:left;
    margin-bottom:10px;
}
/*评分*/
.rating{
    width:80px;
    height:16px;
    margin:0 0 20px 0;
    padding:0;
    list-style:none;
    clear:both;
    position:relative;
    background: url(../images/star-matrix.gif) no-repeat 0 0;
}
.nostar {background-position:0 0}
.onestar {background-position:0 -16px}
.twostar {background-position:0 -32px}
.threestar {background-position:0 -48px}
.fourstar {background-position:0 -64px}
.fivestar {background-position:0 -80px}

ul.rating li {
    cursor: pointer;
    float:left;
    text-indent:-999em;
}
ul.rating li a {
    position:absolute;
    left:0;
    top:0;
    width:16px;
    height:16px;
    text-decoration:none;
    z-index:100;
}
ul.rating li.one a {left:0}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {
    width: 80px;
    height:16px;
    overflow:hidden;
    left:0;
    background: url(../images/star-matrix.gif) no-repeat 0 0
}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px}
ul.rating li.four a:hover {background-position:0 -144px}
ul.rating li.five a:hover {background-position:0 -160px}